@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /* Her tilføjes theme variable // tokens */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
h1,
a,
button {
  font-family: "Gloock";
}
h2,
h3,
h4 {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

p {
  font-family: "Inria Serif", serif;
}
