---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="My Projects">
  <article class="space-y-8 md:space-y-10">

     <!-- H1 Sektion -->
    <h1 class="text-center text-4xl sm:text-6xl md:text-7xl font-bold text-[#53081B] pt-20 sm:pt-24 md:pt-28 pb-6 sm:pb-8 md:pb-10 animate-[bounce_3s_ease-out_2]">
      My Projects
    </h1>


    <!-- Intro Tekst -->
    <div class="mx-auto w-[90%] sm:w-[85%] md:w-[50%] bg-[#F0C6B4] p-6 sm:p-8 md:p-10">
      <p class="leading-relaxed sm:leading-loose md:leading-loose text-base md:text-lg">
        I have compiled projects from my 1st and 2nd semesters at EK below. <br><br>
        These projects provide a clear insight into the skills and knowledge I have gained so far throughout my studies. Some of the projects were completed as part of a group, while others I worked on independently. They also demonstrate the growth and development I have experienced as I have progressed, showcasing both my creative abilities and technical skills. <br><br>
        Through these projects, you can see how I approach problem-solving, design, and execution, as well as how my understanding of the field has evolved over time.
      </p>
    </div>

    <!-- Links til projekter -->
    <div class="mx-auto w-[90%] sm:w-[85%] md:w-[50%] bg-[#AE3359] p-6 sm:p-8 md:p-10 flex flex-col items-center gap-6">
      <a href="https://trolandstudioemnesite.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Subject Site
      </a>
      <a href="https://trolandstudioanimation.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Animation Site
      </a>
      <a href="https://trolandstudiovirksomhedssite.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Company Site
      </a>
      <a href="https://circular-lab-gruppe-6.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Circular Lab
      </a>
      <a href="https://trolandstudiorecipesite.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Recipe Site
      </a>
      <a href="https://trolandstudioportfolioeksamen.netlify.app/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Portfolio Exam
      </a>
      <a href="https://eksamensprojektfreds.netlify.app/om_freds/" class="text-xl font-medium text-[#53081B] transition duration-200 hover:text-white hover:scale-110">
        Fred's Exam Project
      </a>
    </div>

  </article>
</MainLayout>
